@import "bootstrap/scss/bootstrap.scss";
main {
    background-color: #1C1C20;
}

.layout {
   background-color: #f1f1f1;
}

.layout-etch {
   background-color: #fff;
}
 h1 {
    font-family: 'ultra';
    font-weight: 700;
    color: #FDF8FF;
 }

 h2 {
    font-family: 'ultra';
    font-weight: bold;
    color: #AF0C41;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
 }

 p {
    font-family: 'plus jakarta sans';
    font-size: 1.5rem;
    color:#fff;
 }

 a {
    font-family: 'plus jakarta sans';
    color:#fff;
    a:link {
        color:#fff;
    }
 }

 img {
    background-color: #2B2B33;
 }

 .navbar {
    background-color: #2B2B33;
    &a {
        font-family: 'plus jakarta sans';
        color:#fff !important;
        a:link {
            color:#fff;
        }
     }
 }

 .nav-link {
   color:#FDF8FF !important;
   &:hover {
      color:#AF0C41 !important;
   }
 }


 .link-underline {
   text-decoration: underline; /* Keeping the underline if you want it */
   border: 2px solid #000; /* Example: 2px solid black border */
   padding: 5px; /* Adds some space between the border and the text */
   display: inline-block; /* Necessary for the border to wrap the text correctly */
   margin: 5px; /* Optional: Adds some space around the link */
   color: #fff; /* Text color */
   background-color: #1C1C20; /* Background color */
}

/* Style for hover effect (optional) */
.link-underline:hover {
   border-color: blue; /* Changes border color on hover */
   color: blue; /* Changes text color on hover */
}

.img-overlay {
   position: relative;
   display: inline-block; /* Keeps the figure block inline with its container */
}

.img-overlay img {
   display: block; /* Removes bottom spacing/margin under the image */
   width: 100%; /* Makes image responsive */
   height: auto;
}

.img-hover {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
   color: white; /* Text color */
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0; /* Hide by default */
   transition: opacity 0.5s ease; /* Smooth transition for the overlay */
}

.img-overlay:hover .img-hover {
   opacity: 1; /* Show the overlay on hover */
}

.img-text {
   margin: 0; /* Adjust spacing as needed */
   padding: 10px; /* Provides padding inside the overlay text */
   text-align: center; /* Center the text */
}

.img-thumbnail {
   border: 0; /* Remove border if it's not needed */
   border-radius: 0; /* Adjust or remove border-radius if desired */
}

